@import "tailwindcss";

body{
     font-family: poppins;
}


/* clerk user button adjust */

.cl-avatarBox{
    width: 2.5rem;
    height: 2.5rem;
}

/* checkbox and range color */

input{
    background-color: #ffffff;
    accent-color: #FA2C3C;
    border: 1px solid #ccc;
    color: #333;

}

